/*mobile*/
@media(max-width:740px )
{   
    .col-third{
    width: 100%;
}
     #header{
        overflow: hidden;
    }
    #header .mobile-menu-btn {
        display: block;
    }
    #header .search-btn {
        display: none;
        
    }
   
/*  */
          
    #nav {
        display: block;
    }
    #nav >li {
    display: block ;}
#nav li a {padding: 1px 24px;

}
    #nav .subnav {
        position: initial;
        background: #333;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav a {
        color: #fff;
        padding: 0 41px;
    }
    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }
    #content .member-img {
        width: 60%;

    }
   

    
    
}

/*table*/
@media(min-width:740px )and (max-width:1023px){

}


/*pc*/
@media(min-width:1024px ){

}